/* 共通 */
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.4rem;
}

a {
  color: black;
  text-decoration: none;
}

.title {
  font-size: 4rem;
  color: black;
  font-family: Ubuntu;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10rem;
  letter-spacing: 0.5rem;
}

.inner {
  padding: 5rem;
}

/* ヘッダー */
#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navigation {
  top: 0;
  right: 0;
  width: 100%;
  margin: 2rem 0;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-item > a {
  font-size: 2rem;
  transition: all 0.5s;
  color: darkgray;
}
.nav-item {
  transition: all 0.5s;
}

.nav-item a:hover {
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid white;
}

/* メイン */
#main-title {
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/メインビジュアル.jpg);
}

.name {
  font-family: Frank Ruhl Libre;
  font-weight: normal;
  letter-spacing: 1rem;
  font-size: 8rem;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .name {
    font-size: 5rem;
  }
}

/* ityped */
.sub-title {
  font-size: 2rem;
  text-align: center;
}

.ityped-cursor {
  font-size: 1em;
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
    opacity: 0;
  }
}
/* ityped */

/* About */
#about {
  height: 150rem;
  background-image: url(../img/メインコンテナ.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.about-contents {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 5rem;
  border-radius: 5rem;
}

@media screen and (max-width: 480px) {
  .about-contents {
    display: block;
  }
}

.about-img {
  width: 50rem;
  height: 50rem;
  margin-right: 10rem;
  border-radius: 50%;
  background-position: center center;
  display: inline-block;
  border: solid 5px black;
}

@media screen and (max-width: 480px) {
  .about-img {
    width: 100%;
  }
}

.about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  margin-bottom: 5rem;
  line-height: 2;
}

/* Works */
#works {
  height: 100rem;
  background-color: #efefef;
  margin-bottom: 0px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-link {
  display: block;
}

.works-img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  transition: all 0.5s;
}

.works-img:hover {
  transform: scale(1.2);
}

.works-body {
  text-align: center;
  line-height: 1.8rem;
}

.works-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.works-text {
  font-size: 1.2rem;
}

/* フッター*/
#page-footer {
  background-color: darkgrey;
  width: 100%;
}

.footer-title {
  font-size: 3rem;
  font-weight: normal;
  color: black;
  text-align: center;
  letter-spacing: 0.5rem;
  height: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.mail {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 50%;
  padding: 1rem;
}

.contact-item > a {
  font-size: 2rem;
  color: black;
  transition: all 0.5s;
}

.contact-item > a:hover {
  color: white;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid white;
}

.copylight {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* ライブラリ */

/* フェードイン */
.scrollanime {
  opacity: 0;
} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.downup {
  transform: translateY(100px);
}

/* ボタン */

.back-to-top {
  position: fixed;
  bottom: 10rem;
  right: 2rem;

  display: none;
  width: 4rem;
  height: 4rem;

  background-color: black;
  color: white;
  opacity: 0.6;

  font-size: 1.6rem;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/* マウスを乗せた時に透明度を変える */
.back-to-top:hover {
  opacity: 1;
}
